@charset "UTF8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 96vw;
    height: 100vh;
}

header{
    background-color: black;
    color: white;

}

li{
    display: inline-block;
    padding: 10px;
    position: relative;
    margin: auto;
    margin-left: 20px;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 5px;
}

i:hover{
    cursor: pointer;
}

i#pesquisa{
    position: absolute;
    right: 45px;
    margin-top: 5px;
}
i#menu{
    margin-top: 5px;
    position: absolute;
    right: 15px
}

/*corpo*/
img{
    width: 350px;
    margin: auto;
    display: block;
    padding: 15px;
}

main{
    width: 80vw;
    height: auto;
    margin: auto;
    text-align: justify;
}

main > section > h1 {
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}

main > section > p{
    text-indent: 20px;
    margin-top: 20px;
}

main > section > h2{
    padding: 20px;
    font-size: 1.5em;
}

/*Roda pé*/

footer{
    background-color: black;
    color: white;
    margin-top: 20px;
    text-align: center;

}

footer  a  {
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}